<ion-view title="Intro" hide-nav-bar="false">

    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
                style="font-size: small"
                ng-click="startApp()" ng-if="!slideIndex">
            Skip Intro
        </button>
        <button class="button button-positive button-clear no-animation"
                style="font-size: small"
                ng-click="previous()" ng-if="slideIndex > 0">
            Previous
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
                style="font-size: small"
                ng-click="next()" ng-if="slideIndex != 2">
            Next
        </button>
        <button class="button button-positive button-clear no-animation"
                style="font-size: small"
                ng-click="startApp()" ng-if="slideIndex == 2">
            Start!
        </button>
    </ion-nav-buttons>

    <!--<ion-content>-->
            <!-- create the slidebox. Listen for on-slide-changed events we will wire up later. -->
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
                <!-- first slide -->
                <ion-slide>
                    <h3>What is Settle</h3>
                    <div id="logo">
                        <img src="./img/icon.png" style="border-radius: 10px">
                    </div>

                        <p>A micro payment app</p>
                        <p>Use between friends and colleagues</p>
                        <p>Use it to keep track of your money matter</p>
                        <p>Create groups/pools for lunch, poker, mahjong and travel... etc.</p>
                        <p>Never settle with Cash</p>
                        <!--<p>Use it as a leaderboard for your games</p>-->

                </ion-slide>
                <!-- second slide -->
                <ion-slide>
                    <h3>How to use</h3>

                    <div id="list">
                        <h5>Just three steps:</h5>
                        <ol>
                            <li>Be awesome</li>
                            <li>Stay awesome</li>
                            <li>There is no step 3</li>
                        </ol>
                    </div>
                </ion-slide>
                <!-- third slide -->
                <ion-slide>
                    <h3>Any questions?</h3>
                    <p>
                        Too bad!
                    </p>
                </ion-slide>
            </ion-slide-box>

    <!--</ion-content>-->
</ion-view>
