<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light" style="border-bottom-width:1px; border-bottom-color: grey; border-bottom-style:solid">
        <button class="button button-clear" ng-click="modalGroupSelect.hide()">
            Cancel
        </button>
        <div class="title">Select Group</div>
        <button class="button button-icon button-clear ion-ios7-plus-empty" ng-click="addGroup()">
        </button>
    </ion-header-bar>
    <ion-content data-ng-controller="SendGroupCtrl">

        <ion-list can-swipe="true" show-reorder="false">
            <ion-refresher
                    pulling-icon="icon ion-arrow-down-c"
                    refreshing-icon="icon ion-loading-c"
                    on-refresh="loadGroupSetup()">
            </ion-refresher>
                        <ion-item ng-repeat="list in friendlists" class="item item-avatar item-icon-right " ng-click="selectedGroup(list)">
                            <img src="{{list.get('icon').url()}}"  width="50px" style="border-radius: 10px" ng-if="list.get('icon')!=undefined">
                            <img src="./img/group.png"  width="50px" style="border-radius: 10px" ng-if="list.get('icon')==undefined">
                            <p style="font-style: oblique;font-weight: bolder">{{list.get('group')}}</p>
                            <p>{{list.get('friend_userid').length}} people in group</p>
                            <ion-option-button class="button-calm" ng-click="editGroup(list)">Edit</ion-option-button>

                            <span ng-if="selectedGroup.id == list.id ">
                                <i class="icon ion-ios7-checkmark"></i>
                            </span>
                        </ion-item>

        </ion-list>
    </ion-content>
</ion-modal-view>