<ion-view title="Setup">
    <ion-content class="has-header" >

        <ion-list>
            <ion-item class="item item-icon-right" ui-sref="tab.setupuser">
                User Info
                <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
            </ion-item>
            <ion-item class="item item-icon-right" ui-sref="tab.setupgroup">
                Group Info
                <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
            </ion-item>
            <ion-item class="item item-icon-left" ui-sref="intro">
                <i class="icon ion-android-information"></i>
                Help
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>