
<ion-view title="Pay on Cloud"  hide-back-button="true">
    <!--on-swipe-right="goToQRCode()"-->
    <ion-nav-buttons side="right">
        <span ng-if="selectedGroup!=undefined || selectedFriend !=undefined">
            <button class="button button-clear" ng-click="clearGroup()">
                Clear
            </button>
        </span>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <span>
            <button class="button button-clear" ng-click="goToQRCode()">
                <i class="icon ion-qr-scanner"></i>
            </button>
        </span>
    </ion-nav-buttons>
  <ion-content class="has-header">
      <ion-item class="item item-avatar item-icon-right" ng-click="selectGroup()"  ng-class="{'item-calm':selectedGroup!=undefined,'item-stable':selectedGroup==undefined}">
          <img src="./img/group.png" width="30px" style="border-radius: 10px" ng-if="selectedGroup==undefined || selectedGroup.get('icon').url()==undefined">
          <img src="{{selectedGroup.get('icon').url()}}" width="30px" style="border-radius: 10px" ng-if="selectedGroup!=undefined  && selectedGroup.get('icon').url()!=undefined">

          <h2 ng-if="selectedGroup!=undefined" style="font-style: oblique;font-weight: bolder"> {{selectedGroup.get('group')}}</h2>
          <p ng-if="selectedGroup!=undefined">is selected</p>
          <h2 ng-if="selectedGroup==undefined">Select Group (optional)</h2>

          <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
      </ion-item>
      <ion-item class="item item-avatar item-icon-right"
                ng-click="selectUser()"
                ng-class="{'item-assertive':selectedFriend!=undefined,'item-stable ':selectedFriend==undefined}"
                ng-if="inviteEmail==undefined">
          <img src="./img/people.png" width="30px" style="border-radius: 10px" ng-if="selectedFriend==undefined || selectedFriend.get('icon').url()==undefined">
          <img src="{{selectedFriend.get('icon').url()}}" width="30px" style="border-radius: 10px" ng-if="selectedFriend!=undefined && selectedFriend.get('icon').url()!=undefined">
          <h2 ng-if="selectedFriend!=undefined" style="font-style: oblique;font-weight: bolder"> {{selectedFriend.get('username')}}</h2>
          <p ng-if="selectedFriend!=undefined" style="color: white">is selected</p>
          <h2 ng-if="selectedFriend==undefined">Select Friend</h2>

          <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
      </ion-item>
      <ion-item ng-if="inviteEmail!=undefined">
          <label class="item item-input" >
              <input type="email" placeholder="" ng-model="inviteEmail">
          </label>
      </ion-item>
      <form ng-model="sendform" ng-submit="processSend(sendform)">
      <ion-item class="item item-input-inset">
          <button class="button button-clear" type="button" ng-click="openCurrencies('tab.send-remote')" style="color:dimgray;font-weight: bold;border-top:solid;border-bottom:solid;border-width:1px;">
              <span ng-if="selectedCurrency==undefined">
                  <span ng-if="user.get('default_currency')!=undefined">{{user.get('default_currency').get('code')}}</span>
              </span>
              <span ng-if="selectedCurrency!=undefined">{{selectedCurrency.get('code')}}</span>
          </button>
          <label class=" item-input-wrapper " style="height: 50px">

              <input type="tel" placeholder="Amount" ng-model="sendform.amount"  ng-model-options="{ getterSetter: true }" style="font-size: large" ng-currency>
          </label>
          <button class="button button-stable" type="submit" style="font-size: large;border-radius: 10px">
              <i class="icon ion-ios7-keypad"></i>
              Pay
          </button>
      </ion-item>
      <label class="item item-input">
          <input type="text" placeholder="Note" ng-model="sendform.note" >
      </label>
      </form>


      <!--<button class="button button-block button-stable" ng-click="goToQRCode(sendform)">-->
          <!--Pay by QRCode-->
      <!--</button>-->
      <ion-item class="item item-icon-left item-icon-right" style="text-align: center" ng-click="goToQRCode(sendform)">
          <i class="icon ion-ios7-arrow-back" style="color: gray; font-size: larger"></i>
          Pay by QRCode <i class="icon ion-qr-scanner"></i>

      </ion-item>
      <!--<label class="item item-input">-->
          <!--<input type="text" placeholder="Text to Push" ng-model="sendtext"  ng-model-options="{ getterSetter: true }" >-->
      <!--</label>-->
      <!--<button class="button button-block button-stable" ng-click="sendPushMessage(sendtext)">-->
          <!--Send Push-->
      <!--</button>-->
  </ion-content>
</ion-view>

