<ion-view title="{{selectedFriend.getUsername()}} {{selectedGroup.get('group')}}"  hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goToBalanceOverview()" ng-if="selectedFriend !=undefined && (selectedGroup.get('ispersonal') == true || selectedGroup == undefined)">
            <i class="icon ion-ios7-arrow-back"></i>
            <!--Back-->
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goToBalanceGroup()" ng-if="selectedGroup != undefined && selectedGroup.get('ispersonal') != true">
            <i class="icon ion-ios7-arrow-back"></i>
            <!--Back-->
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="goToSend()">
            <i class="icon ion-card"></i>
            Pay
        </button>
    </ion-nav-buttons>
  <ion-content  class="has-header" >
      <ion-list>
          <ion-refresher
                  pulling-icon="ion-arrow-down-c"
                  refreshing-icon="ion-loading-c"
                  on-refresh="loadTrans()">
          </ion-refresher>
          <ion-item class="item item-divider item-dark" style="font-size: small;">
               Balance with <span ng-if="selectedFriend.getUsername()">{{selectedFriend.getUsername()}} </span>
               <span ng-if="selectedGroup.get('group')">{{selectedGroup.get('group')}}</span>

              <span class="item-note" style="color:black">
                <span ng-if="balance.get('balance')<0">
                    <span style="color: red">{{balance.get('balance')| currency:balance.get('currency').get('code')}}</span>
                </span>
                <span ng-if="balance.get('balance')>=0">
                    <span style="color:olivedrab">{{balance.get('balance')| currency:balance.get('currency').get('code')}}</span>
                </span>

              </span>


          </ion-item>
          <ion-item class="item item-divider item-icon-right" style="font-size:small;font-weight: normal">
              10 recent transactions
              <i id="tran_loading" style="visibility: {{loading}}" class=" ion-loading-c"></i>
           </ion-item>
          <!--<div  style="width:100%;height:50px;text-align: center;"></div>-->
          <!--<span id="tran_loading" style="width:100%;height:50px;text-align: center;"><center><i class="icon ion-loading-c"></i></center></span>-->
          <ion-item class="item " style="font-size: medium;" ng-repeat="tran in transactions">
              <span ng-if="tran.get('from')==user.get('email')">
                  <i class="icon ion-ios7-upload-outline"></i>
                  Paid
                  <span style="color:red">{{tran.get('amount')*-1| currency: tran.get('currency').get('code')}}</span>
                  <span class="item-note" style="font-size: x-small" ng-if="tran.get('from_rate')!=1 && tran.get('from_rate')!=undefined">
                    x {{tran.get('from_rate')}} (exchange rate from Yahoo)  =
                      <span style="font-weight: bold;font-color:black">{{tran.get('amount')*tran.get('from_rate') | currency : balance.get('currency').get('code')}}</span>
                  </span>
                  <span style="font-style: italic;font-size: small">
                    to <b>{{tran.get('toname')}}</b></span>
                    </span>
              <span ng-if="tran.get('to')==user.get('email')">

                  <i class="icon ion-ios7-download-outline"></i>
                  Received
                  <span style="color:olivedrab">{{tran.get('amount')| currency: tran.get('currency').get('code')}}</span>
                  <span class="item-note" style="font-size: x-small" ng-if="tran.get('to_rate')!=1  && tran.get('to_rate')!=undefined">
                       x {{tran.get('from_rate')}} (exchange rate from Yahoo) =
                      <span style="font-weight: bold;font-color:black">{{tran.get('amount')*tran.get('to_rate') | currency : balance.get('currency').get('code')}}</span>

                  </span>
                  <span style="font-style: italic;font-size: small">
                    from <b>{{tran.get('fromname')}}</b></span>
                  </span>
                    <BR ng-if="tran.get('to_rate')!=1  && tran.get('to_rate')!=undefined">
                  <span style="font-style: italic;font-size: small;color:gray">
                      <br>on {{tran.createdAt.toLocaleDateString()}}
                  </span>
              <span class="item-note" ng-if="tran.get('note').trim() !='' && tran.get('note')!=undefined && tran.get('note')!='undefined'">
                  <span style="font-style: italic;font-size: small;color:gray">
                      ( <span style="color:darkblue">{{tran.get('note')}} </span>)
                  </span>
              </span>

          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
