<ion-view title="Credit">
  <ion-content>
      <ion-list>
          <ion-refresher
                  pulling-icon="icon ion-arrow-down-c"
                  refreshing-icon="icon ion-loading-c"
                  on-refresh="loadGroup()">
          </ion-refresher>
          <ion-item class="item item-icon-right">
              Your Total Balance is $
              <span ng-if="balance<0">
              <span style="color: red">{{balance | number:2}}</span>
              </span>
              <span ng-if="balance>=0">
                  <span style="color:olivedrab">{{balance| number:2}}</span>
              </span>
              <!--<BR>-->
              <!--<span style="font-size: x-small;color:gray">Total transaction of credit is <b>${{balance.get('credit')| number:2}}</b></span>-->
              <!--<span style="font-size: x-small;color:gray">and debit is <b>$-{{balance.get('debit')| number:2}}</b></span>-->

          </ion-item>
          <ion-item class="item item-divider" style="height: 20px">
              <span id="tran_loading" style="visibility:{{loading}}">
                  <i class=" ion-loading-c"></i>

              </span>

          </ion-item>
          <ion-item class="item item-icon-left item-icon-right"  ng-repeat="balance in grouplist" ng-click="openBalance(balance)">
              <div ng-if="balance.get('group').get('ispersonal')==true">
                  <i class="icon ion-ios7-person"></i>
                  <span ng-if="balance.get('username1')==user.get('username')">
                      <b>{{balance.get('group').get('username2')}}</b>
                  </span>
                  <span ng-if="balance.get('username1')!=user.get('username')">
                      <b>{{balance.get('group').get('username1')}}</b>
                  </span>
                  <span class="item-note" style="color:black">
                   <span ng-if="balance.get('balance')<0">
                       $ <span style="color: red">{{balance.get('balance') | number:2}}</span>
                    </span>
                    <span ng-if="balance.get('balance')>=0">
                       $ <span style="color:olivedrab">{{balance.get('balance')| number:2}}</span>
                    </span>
              </span>
              </div>
              <div ng-if="balance.get('group').get('ispersonal')!=true">
                  <i class="icon ion-person-stalker"></i>

                  <i class="badge badge-assertive" style="position:relative;width:28px;top:40px">{{balance.get('group').get('friends').length}}</i>
                  <b>{{balance.get('group').get('group')}}</b>
              </span>
              <span class="item-note" style="color:black">
                   <span ng-if="balance.get('balance')<0">
                       $ <span style="color: red">{{balance.get('balance') | number:2}}</span>
                    </span>
                    <span ng-if="balance.get('balance')>=0">
                       $ <span style="color:olivedrab">{{balance.get('balance')| number:2}}</span>
                    </span>
              </span>
              </div>

              <span style="font-size: x-small;color:gray">Last transaction on <b>{{balance.createdAt.toLocaleDateString()}}</b></span>
              <!--<span ng-if="balance.get('group').get('ispersonal')!=true">-->
                <!--<span class="badge badge-assertive">{{balance.get('group').get('friends').length}}</span>-->
              <!--</span>   -->
              <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
