<ion-view title="Detail" hide-back-button="false">
    <!--<ion-nav-buttons side="left">-->
                <!--<button class="button button-icon button-clear icon ion-ios7-arrow-back" ng-click="back()">-->
                <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="has-header">
        <form name="form" ng-model="selectedRequestDetail">
            <ion-list>
                <ion-item class="item item-avatar item-icon-right"
                          style="font-size: medium"
                          ng-if="selectedRequest.get('group')!=undefined"
                          ng-class="{'item-calm':selectedRequest.get('group')!=undefined,'item-stable':selectedRequest.get('group')==undefined}">
                    <img src="./img/group.png" width="30px" style="border-radius: 10px" ng-if="selectedRequest.get('group')==undefined || selectedRequest.get('group').get('icon')==undefined">
                    <img src="{{selectedRequest.get('group').get('icon').url()}}" width="30px" style="border-radius: 10px" ng-if="selectedRequest.get('group')!=undefined  && selectedRequest.get('group').get('icon')!=undefined">
                    <p ng-if="selectedRequest.get('group')!=undefined" style="font-style: oblique;font-weight: bolder"> {{selectedRequest.get('group').get('group')}}</p>
                    <p  ng-if="selectedRequest.get('group')!=undefined">{{selectedRequest.get('group').get('friend_userid').length}} people in group</p>
                </ion-item>
            <ion-item class="item">
                <img src="{{selectedRequestDetail.get('user').get('icon').url()}}"
                     class="avatar" width="40px"
                     ng-if="selectedRequestDetail.get('user').get('icon')!=undefined">
                <img src="./img/people.png"
                     class="avatar" width="40px"
                     ng-if="selectedRequestDetail.get('user').get('icon')==undefined">
                <b>{{selectedRequestDetail.get('user').getUsername()}}</b>
                <br>
                 <span style="font-size: small" ng-if="selectedRequestDetail.get('balance')!=0">
                     <span style="color:red;font-weight: bold">
                         OUTSTANDING
                     </span>

                 </span>
                <span style="font-size: small;color:dodgerblue;font-weight: bold" ng-if="selectedRequestDetail.get('balance')==0">
                     PAID
                </span>
            </ion-item>
                <ion-item class="item item-input-inset" ng-if="selectedRequestDetail.get('balance')!=0">
                    <span style="font-size: large"><b>{{selectedRequestDetail.get('parent').get('currency').get('code')}}</b></span>
                    <label class="item-input-wrapper" style="height: 50px">
                        <input type="tel" placeholder="Amount" ng-model="selectedRequestDetail.amount"  style="font-size:large" ng-model-options="{ getterSetter: true }" ng-change="calcTotalAmount()" ng-currency required>
                    </label>
                </ion-item >
                <ion-item class="item " ng-if="selectedRequestDetail.get('balance')==0">
                    {{selectedRequestDetail.get('amount')| currency:selectedRequestDetail.get('parent').get('currency').get('code')}}
                </ion-item>

            <button class="button button-block button-stable" style="font-size: small" ng-click="saveRequestDetail(selectedRequestDetail)" ng-disabled="!form.$valid">
                    Save
            </button>
                <button class="button button-block button-stable" style="font-size: small" ng-click="chaseDetail(selectedRequestDetail)" ng-disabled="!form.$valid">
                    Send Chaser
                </button>
                <button class="button button-block button-stable" style="font-size: small" ng-click="removeRequestDetail(selectedRequestDetail)" ng-disabled="!selectedRequestDetail.id">
                    Remove
                </button>
        </ion-list>
        </form>

    </ion-content>
</ion-view>