<ion-view title="{{selectedGroup.get('group')}}" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goToFriends()">
            <i class="icon ion-ios7-arrow-back"></i>
            <!--Back-->
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-if="selectedGroup!=undefined" ng-click="goToGroupEdit(selectedGroup)">
        <button class="button button-clear" ng-click="goToGroupEdit(selectedGroup)">
            <span>
              <img src="{{selectedGroup.get('icon').url()}}" height="32px" style="border-radius: 50px" ng-if="selectedGroup.get('icon')">
              <img src="./img/group.png" height="32px" style="border-radius: 50px;background-color: grey" ng-if="!selectedGroup.get('icon')">
          </span>
        </button>
    </ion-nav-buttons>
  <ion-content data-ng-controller="FriendsCtrl"  data-ng-init="loadGroupFriends()">
      <ion-list can-swipe="true">
          <ion-refresher
                  pulling-icon="icon ion-arrow-down-c"
                  refreshing-icon="icon ion-loading-c"
                  on-refresh="loadFriendsGroups()">
          </ion-refresher>

          <!--<ion-item class="item item-divider " >-->
              <!--<label class="item item-input" style="border-radius: 5px;height: 30px">-->
                  <!--<i class="icon ion-search placeholder-icon"></i>-->
                  <!--<input id="search_text" type="text" placeholder="Search" class="" style="height: 20px;"  ng-model="searchText" ng-change="searchFriend(searchText)">-->
               <!--</label>-->
          <!--</ion-item>-->

          <!--<ion-item class="item item-avatar " style="font-size: small" ng-repeat="friend in GroupFriends"  ng-click="goToPayGroup(friend)" ng-if="friend.id!=user.id">-->
          <ion-item class="item item-avatar " style="font-size: small" ng-repeat="friend in GroupFriends"  ng-click="showGroupClickOptions(selectedGroup,friend)" ng-if="friend.id!=user.id">
              <img src="{{friend.get('icon').url()}}"
                   class="avatar"
                   ng-if="friend.get('icon')!=undefined">
              <img src="./img/people.png"
                   class="avatar"
                   ng-if="friend.get('icon')==undefined">
                <p>
                    <b>{{friend.get('username')}}</b> <span style="font-size: x-small">{{friend.get('email')}} </span>
                    <span class="item-note" style="color:black;font-size: small" >

                       <span ng-if="friend.balance<0">
                           <span style="color: red">{{friend.balance |  currency:friend.currencyCode}}</span>
                        </span>
                        <span ng-if="friend.balance>=0">
                           <span style="color:olivedrab">{{friend.balance| currency:friend.currencyCode}}</span>
                        </span>
                    </span>
                    <br>
                    <span style="font-size: x-small"><b>{{friend.get('phone_number')}}</b></span>

                </p>

              <!--<i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>-->
              <!--<button class="button button-clear"  style="color:black"  ng-click="goToPayGroup(friend)">-->
                  <!--<i class="icon ion-card"></i>-->
              <!--</button>-->

          </ion-item>
          <ion-item style="text-align: center" ng-click="goToGroupEdit(selectedGroup)">
              <p style="color:blue">Edit Group</p>
          </ion-item>
          <!--<ion-item class="item" style="text-align: center" ng-click="showInviteOptions()">-->
              <!--<i id="tran_loading" class=" ion-loading-c" style="visibility:{{loading}}"></i>-->
              <!--&lt;!&ndash;<span style="font-weight: bold">Friend not in here?</span>&ndash;&gt;-->
              <!--<p style="color:blue">Invite Friend to Settle</p>-->
          <!--</ion-item>-->
      </ion-list>
  </ion-content>
</ion-view>
