<ion-view title="balance">
  <ion-content>
      <ion-list>
          <ion-item class="item"><b>your current balance is $
              <span ng-if="balance.get('balance')<0">
              <span style="color: red">{{balance.get('balance')}}</span></b>
              </span>
              <span ng-if="balance.get('balance')>=0">
                  <span style="color: dimgray">{{balance.get('balance')}}</span></b>
              </span>
          </ion-item>
          <ion-item class="item item-divider">recent transactions</ion-item>
          <ion-item class="item" style="font-size: medium;" ng-repeat="tran in transactions">
              <span ng-if="tran.get('from')==user.get('email')">

                  <i class="ion-ios7-upload-outline"></i>
                  send
                  <span style="color:red"><b>-${{tran.get('amount')}}</b></span>
                  <span style="font-style: italic;font-size: small">
                    <br>
                    to <b>{{tran.get('to')}}</b></span>
              </span>
              <span ng-if="tran.get('to')==user.get('email')">

                  <i class="ion-ios7-download-outline"></i>
                  received
                  <span style="color:darkslategray"><b>${{tran.get('amount')}}</b></span>
                  <span style="font-style: italic;font-size: small">
                    <br>
                    from <b>{{tran.get('from')}}</b></span>


              </span>
                  <span style="font-style: italic;font-size: small;color:gray">
                      <br>on {{tran.createdAt.toLocaleDateString()}}
                  </span>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
