<ion-view title="Balance">
  <ion-content>
      <ion-list>
          <ion-item class="item item-icon-right" href="#/tab/balancedetail">
              Your Current Balance is <b>$</b>
              <span ng-if="balance.get('balance')<0">
              <span style="color: red"><b>{{balance.get('balance')}}</b></span>
              </span>
              <span ng-if="balance.get('balance')>=0">
                  <span style="color:olivedrab"><b>{{balance.get('balance')}}</b></span>
              </span>
              <i class="icon ion-ios7-arrow-forward"></i>
          </ion-item>
          <ion-item class="item item-divider item-icon-right">
              recent transactions
              <i id="tran_loading" class="icon ion-loading-c"></i>
           </ion-item>
          <!--<div  style="width:100%;height:50px;text-align: center;"></div>-->
          <!--<span id="tran_loading" style="width:100%;height:50px;text-align: center;"><center><i class="icon ion-loading-c"></i></center></span>-->
          <ion-item class="item" style="font-size: medium;" ng-repeat="tran in transactions">
              <span ng-if="tran.get('from')==user.get('email')">
                  <i class="icon ion-ios7-upload-outline"></i>
                  sent
                  <span style="color:red"><b>-${{tran.get('amount')}}</b></span>
                  <span style="font-style: italic;font-size: small">
                    <br>
                    to <b>{{tran.get('to')}}</b></span>
              </span>
              <span ng-if="tran.get('to')==user.get('email')">

                  <i class="icon ion-ios7-download-outline"></i>
                  received
                  <span style="color:olivedrab"><b>${{tran.get('amount')}}</b></span>
                  <span style="font-style: italic;font-size: small">
                    <br>
                    from <b>{{tran.get('from')}}</b></span>


              </span>
                  <span style="font-style: italic;font-size: small;color:gray">
                      <br>on {{tran.createdAt.toLocaleDateString()}}
                  </span>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
