
<ion-view title="Signup" hide-nav-bar="true" drag-content="false">
    <div class="bar bar-header bar-positive"><h1 class="title">Sign up</h1></div>
    <ion-content class="has-header" padding="true">
        <form ng-submit="signUp(signupUser)">
            <div class="list" align="center">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="signupUser.name">
                </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="signupUser.email">
            </label>
            <ion-item class="item item-icon-right" ng-click="openCurrencies('signup',signupUser)" style="text-align: left;font-size: 15px">
                    <span ng-if="signupUser.default_currency==undefined">Default Currency</span>
                    <span ng-if="signupUser.default_currency!=undefined">{{signupUser.default_currency.get('code')}} - {{signupUser.default_currency.get('currencyname')}}</span>
                    <i class="icon ion-ios7-arrow-forward" style="color: gray; font-size: larger"></i>
            </ion-item>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="signupUser.password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="signupUser.con_password">
            </label>
                <!--<label class="item item-input">-->
                    <!--<!--<span style="text-align: left;font-size: small" class="input-label">password strength: </span>-->
                    <!--<input id="pwStrength" placeholder="Password Strength" readonly type="text" style="font-size: small;font-style:bold;" ng-model="user.password_strength" value="">-->

                <!--</label>-->
            <button class="button button-block button-stable" type="submit" >
                Sign up
            </button>
            <button class="button button-block button-stable" type="button" ng-click="goTologin()" >
                Go to Login
            </button>
            </div>
        </form>
    </ion-content>
</ion-view>