<ion-modal-view style="width: 94%;top: 50%; left:3%;right:3%;bottom:3%">
    <!--<ion-header-bar class="bar bar-header bar-light">-->
        <!--<h3 class="title">Invite by</h3>-->
    <!--</ion-header-bar>-->
    <ion-content padding="false" scroll="false">
        <div class="list">
            <a class="item" style="text-align: center;color:blue" ng-click="inviteBySMS()">
                SMS
            </a>
            <a class="item"  style="text-align: center;color:blue" ng-click="">
                Email
            </a>
            <button class="button button-block button-stable" style="color:blue" ng-click="hideInviteOptions()">
                Cancel
            </button>
            <!--<a class="item" ng-click="hideInviteOptions()">-->

            </a>
        </div>
    </ion-content>
</ion-modal-view>