/* Empty. Add your own CSS if you like */
body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue-Light";
}

header{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue-Light";
}

input.input-invalid {
    background-color: palevioletred

}

input.input-required {
    background-color: red;
    color:white;
}

.scroll-refresher {
    width: 100%;
}

.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

.para {
    width: 80%;
    margin: 20px auto;
    font-size: 15px;
    text-align: justify;
}

.intro-list {
    width: 70%;
    margin: 20px auto;
    font-size: 15px;
}
.intro-list ul {
    margin-top: 10px;
}

.intro-list ol li {
    text-align: left;
    list-style: decimal;
    margin: 20px 0px;
}
.intro-list ul li {
    text-align: left;
    list-style: disc;
    margin: 20px 0px;
}


.avatar{
    background-color:lightgray;
    /*width:40px*/
    float: left;
    /*max-height: 50px;*/
    max-width: 40px;
    margin-right: 1em;
    border-radius: 50px;
}

/* ============================================================================================================================
== BUBBLE WITH A RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */
.content {
    padding: 5px;
    position:relative;
    z-index:1;
}

.triangle-right {
    position:relative;
    padding:15px;
    margin:1em 0 1em;
    color:#fff;
    background:#075698; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background:-moz-linear-gradient(#2e88c4, #075698);
    background:-o-linear-gradient(#2e88c4, #075698);
    background:linear-gradient(#2e88c4, #075698);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
    background:-moz-linear-gradient(#075698, #2e88c4);
    background:-o-linear-gradient(#075698, #2e88c4);
    background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
    margin-left:40px;
    background:lightgray;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
    margin-right:40px;
    background:lightblue;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:lightblue transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
    top:-20px; /* value = - border-top-width - border-bottom-width */
    right:50px; /* controls horizontal position */
    bottom:auto;
    left:auto;
    border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent lightblue;
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
    top:16px;
    left:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent lightgray;
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
    top:16px;
    right:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
    border-color:transparent lightblue ;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}